body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

h1 {
  text-align:center;
}

.row {
  display: flex;            
  flex-wrap: wrap; 
  justify-content:center;
  gap: 20px;
} 

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px){
   .column {
    width: 100%;
    display: block;
  }
}
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.container h2 {
margin-top: 10px;
text-align: center;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  margin: 8px auto; 
  width: auto; 
}

img {
  border-radius: 5px;
}

.button:hover {
  background-color: #555;
}