body {
  background-color: black;
   color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media( max-width:769px)

.container {
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

.typewriter h2 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  
  animation: 
  typing 3.5s steps(30, end),
  blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(12, 0, 68) }
}

header h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

.content h2 {
    margin-top: 20px;
    font-size: 2em;
}

.image-button img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-button img:hover {
    transform: scale(1.05); 
}

