body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

h1 {
  text-align:center;
}


.row {
  display: flex;            
  flex-wrap: wrap; 
  justify-content:center;
} 

.column {
  display: flex;
  align-content: center;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px){
   .column {
    width: 100%;
    display: block;
  }
}
.card {
  display: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  margin: 8px auto; 
  width: auto; 

.button:hover {
  background-color: #555;
}